@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  --selected-color: white;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: courier;
}

::-webkit-scrollbar {
  /*-webkit-appearance: none;*/
  display: none;
}
::-webkit-scrollbar-corner { 
  /*-webkit-appearance: none;*/
  display: none;
}

.full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  max-width: 50%;
  padding: 10px;
  background: #ddd;
  color: #222;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, .2);
  text-align: center;
}

.popup div {
  margin: 25px;
}

div.settings .holder {
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
}
div.settings .holder label       { text-align:right; }
div.settings .holder label:after { content: ":"; }

.popup p {
  padding-bottom: 20px;
}
.popup .close {
  float: right;
  color: #222;
}
.popup div a {
  color: #222;
}
.popup div {
text-align: center;
}
.popup a:hover {
  cursor: pointer;
}

#foreground {
  background: #303030;
  overflow: hidden;
}

#foreground #canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96vh;
  position: absolute;
  left: 0;
  top: 30px;
  bottom: 40%;
  width: 80%;
  z-index: 2;
}

#layers {
  z-index: 3;
  position: absolute;
  background: rgb(32,32,32);
  overflow: scroll;
  scrollbar-width: none;
  right: 0;
  top: 30px;
  bottom: 20%;
  width: 20%;
  height: 96vh;
  color: rgb(210,210,210);
  font-family: courier;
}

#header {
  background: rgb(55,55,55);
  color: rgb(210,210,210);
  text-align: left;
  font-size: 12px;
  z-index: 3;
  position: absolute;
  width: 100%;
}

a {
  color: rgb(210,210,210);
}
a:visited {
  color: rgb(210,210,210);
}

#header div {
  display: inline-block;
  padding: 4px;
  margin: 4px;
}

#header a {
  padding: 4px;
  margin: 4px;
}

#header div:hover,
#layers div a:hover,
#layers div canvas:hover {
  cursor: pointer;
}

#header div:hover {
  background-color: #555;
}

#layers .preview {
  font-size: 12px;
  word-break: break-all;
  display: flex;
  padding: 4px;
  height: 5vw;
}

#layers .preview_title {
  padding: 5px;
  width: 70%;
}

#layers .preview_thumb {
  background: black;
  width: 30%;
}

#layers .preview_title input {
  margin: 5px;
}

#layers div {
  border-left: solid rgba(210, 210, 210, 0) 4px;
}

#layers .selected {
  border-left: solid rgb(210, 210, 210) 4px;
}

#foreground #canvas canvas {
  background: repeating-linear-gradient(45deg, #f0f0f0 0px, #f0f0f0 10px, #d0d0d0 10px, #d0d0d0 20px);
}

#sidebar {
  z-index: 3;
  position: absolute;
  background: rgb(32,32,32);
  left: 0;
  top: 30px;
  width: 50px;
  height: 96vh;
  color: rgb(210,210,210);
  font-family: courier;
}

#sidebar div {
  padding: 10px;
  cursor: pointer;
}
